// header animations
.animation-left {
  animation: animationLeft 1s ease-out .5s;
  animation-fill-mode: backwards;
}

.animation-right {
  animation: animationRight 1s ease-out .5s;
  animation-fill-mode: backwards;
}

.animation-top {
  animation: animationTop 1s ease-out .5s;
  animation-fill-mode: backwards;
}

.animation-bottom {
  animation: animationBottom 1s ease-out .5s;
  animation-fill-mode: backwards;
}

@keyframes animationLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  // 80% {
  //   transform: translateX(10px);
  // }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animationRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  // 80% {
  //   transform: translateX(-10px);
  // }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animationTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animationBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}