.affiche {
  margin-top: 100px;

  @media only screen and (max-width: 768px) {
    margin-top: 70px;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
  }

  &__item {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 350px;

    @media only screen and (max-width: 1024px) {
      min-height: 300px;
    }

    &:hover {
      .affiche__item-content {
        opacity: 1;
      }
    }
  }

  &__item-content {
    margin-top: auto;
    padding: 35px 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(#210E09, .9)) top center no-repeat;
    background-size: cover;
    transition: all .3s;
    opacity: 0;

    @media only screen and (max-width: 1024px) {
      padding: 20px 15px;
    }

    @media only screen and (max-width: 768px) {
      opacity: 1;
      background: linear-gradient(rgba(#210E09, .8)) top center no-repeat;
    }
  }

  &__item-button {
    margin-top: auto;
  }

  .button--small {
    font-size: 14px;
    width: max-content;
  }

  &__item-title {
    margin-top: 15px;
    margin-bottom: 15px;
    width: max-content;
  }

  &__item-price {
    padding: 8px 20px;
    border-radius: 5px;
    border: 2px solid #d5621d;
    display: inline-block;
    width: max-content;
  }
}