.gallery {

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;

    @media only screen and (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
      gap: 15px;
    }

    @media only screen and (max-width: 425px) {
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      gap: 10px;
    }
  }

  &__item {
    min-height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;

    &:hover {
      .gallery__item-bg {
        background: linear-gradient(rgba(33, 14, 9, 0.8)) center no-repeat;
      }

      .gallery__item-img {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @media only screen and (max-width: 768px) {
      min-height: 200px;
    }

    @media only screen and (max-width: 425px) {
      min-height: 170px;
    }
  }

  &__item-bg {
    transition: all .3s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 768px) {
      background: linear-gradient(rgba(33, 14, 9, 0.336)) center no-repeat;
    }
  }

  &__item-img {
    transition: all .3s;
    opacity: 0;
    transform: translateY(100px);

    @media only screen and (max-width: 768px) {
      opacity: 1;
      transform: translateY(0);
    }
  }
}