.top {
  margin-bottom: 120px;
  margin-top: 35px;

  &__inner {
    display: flex;
    gap: 24px;

    @media only screen and (max-width: 1024px) {
      flex-direction: column;
      gap: 40px;
    }
  }

  &__left {
    width: 856px;
    height: 540px;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    padding: 30px 30px 45px 60px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: 1024px) {
      margin: 0 auto;
      width: 100%;
    }

    @media only screen and (max-width: 1024px) {
      height: 350px;
      padding: 15px 15px 20px 20px;
    }
  }

  &__left-content {
    width: 650px;
    margin-top: auto;
  }

  &__right {
    border-radius: 5px;

    @media only screen and (max-width: 1024px) {
      width: fit-content;
      margin: 0 auto;
    }
  }

  &__right-item {

    @media only screen and (max-width: 425px) {
      width: 120px;

      img {
        width: 100%;
      }
    }

  }
}